@import url("https://fonts.googleapis.com/css?family=Rubik");
.logo-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center; }

.logo {
  position: absolute;
  z-index: 10; }

body {
  margin: 0;
  font-family: "rubik"; }

video {
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 200%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-60%); }

a {
  text-decoration: none; }

header {
  visibility: hidden;
  margin-bottom: -20px; }

@media screen and (max-width: 500px) {
  .logo {
    visibility: hidden;
    width: 1px;
    height: 1px; }
  header {
    font-family: 'rubik';
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    visibility: visible; } }
