body {
  background: rgb(233, 231, 224);

}

.university-container {
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.university-card {
  position: relative;
  color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  width: 27%;
  background: #42b078;
  margin: 10px;
  text-align: left;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 40px;
}

.title {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .university-card {
    width: 90%;
  }
}

.button {
  text-decoration: none;
  position: absolute;
  bottom: 9px;
  font-size: 15px;
}

.button a {
  border-radius: 5px;
  padding: 2px 20px;
  background: white;
  border: 1px solid black;
  color: black;
}

.button a:hover {
  background: lightgrey;
}
